---
AccessModifierOffset: -4
BasedOnStyle: Google
ColumnLimit: 180
IndentWidth: '4'
NamespaceIndentation: All
TabWidth: '4'
UseTab: Always
IndentPPDirectives: BeforeHash
FixNamespaceComments: false

...
